<!DOCTYPE html>
<html>
  <head>
    <title>To Do List</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>
    <h1>To Do:</h1>
    <% if current_user %>
      Keep it up, <%= current_user.username %>!<br>
      <%= link_to 'Log Out', :logout %>
    <% else %>
      <%= link_to 'Log In', :login %> or
      <%= link_to 'Sign Up', :signup %>
    <% end %>


    <h5><%=  Time.now %></h5>
    <h5><%= Time.now.strftime("%m/%d/%Y") %></h5>
    <h5><%= Time.now.strftime("%H:%M:%S") %></h5>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "sample app", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   '#' %></li>
            <li><%= link_to "Help",   '#' %></li>
            <li><%= link_to "Log in", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
